@charset "utf-8";

.list {

  $color-white: #f1f1f1;

  &__headline {
    margin: 0;
    padding: 10px;
    background-color: #f77171;
    color: #fff;
  }

  &__headline-inner {
    margin: 0 0 0 10px;
  }

  &__items  {
  }

  &__item {
    display: table;
    table-layout: fixed;
    width: 100%;
    cursor: pointer;
    background-color: $color-white;

    &:hover {
      background-color: darken($color-white, 5%);
    }
  }

  &__item + &__item {
    border-top: 1px solid darken($color-white, 10%);
  }

  &__title  {
    display: table-cell;
    width: calc(100% - 140px);
    padding: 10px;
    height: 100px;
    vertical-align: middle;
    text-align: left;
  }

  &__thumb  {
    display: table-cell;
    width: 140px;
    padding: 0 10px;
    height: 100px;
    vertical-align: middle;
  }
}
