@charset "utf-8";

.playlist {

  &__item {
    display: table;
    table-layout: fixed;
    width: 100%;
    cursor: pointer;

    &:hover {
      background-color: #f1f1f1;
    }
  }

  &__title  {
    display: table-cell;
    width: calc(100% - 120px);
    padding: 10px;
    vertical-align: middle;
    text-align: left;
  }

  &__thumb  {
    display: table-cell;
    width: 120px;
  }
}
