@charset "utf-8";

.playlist {

  &__item {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  &__title  {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
  }

  &__thumb  {
    display: table-cell;
    width: 50%;
  }
}
