@charset "utf-8";

.sidebar  {
  $base-color: #f77171;

  position: fixed;
  top: 0;
  bottom: 0;
  left: -400px;
  background-color: $base-color;
  color: #fff;
  width: 400px;
  padding: 10px;
  z-index: 1;
  transition: 0.1s;

  &__nav  {
    display: table;
  }

  &__nav-item {
    display: table-cell;
  }

  &__main {
    margin: 10px 0 0;
  }

  &__headline {
    margin: 0;
  }

  &__headline + &__list {
    margin: 10px 0 0;
  }

  &__list {
  }

  &__list-item  {
  }

  &__list-item-link {
    display: block;
    width: 100%;
    padding: 6px;
    color: #fff;
    text-decoration: none;

    &:hover {
      border-left: 5px solid $base-color;
      background-color: darken($base-color, 10%);
      font-weight: bold;
    }
  }

  &__close  {
  }
}
