@charset "utf-8";

.sidebar  {

  $base-color: #f77171;

  position: fixed;
  top: 0;
  bottom: 0;
  left: -400px;
  background-color: $base-color;
  color: #fff;
  width: 400px;
  min-height: 500px;
  padding: 10px;
  z-index: 1;
  transition: 0.1s;

  &__nav  {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  &__nav-item {
    display: table-cell;
    height: 40px;
    vertical-align: middle;
  }

  &__main {
    margin: 10px 0 0;
    padding: 10px 0;
    border-top: 1px solid lighten($base-color, 10%);
  }

  &__headline {
    margin: 0;
    background-color: #fff;
    color: $base-color;
    padding: 10px;
  }

  &__headline-inner {
    margin: 0 0 0 10px;
  }

  &__headline + &__list {
    margin: 10px 0 0;
  }

  &__list {
  }

  &__list-item  {
  }

  &__list-item + &__list-item {
  }

  &__list-item-link {
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      background-color: #333;
      color: $base-color;
      font-weight: bold;
    }
  }

  &__btn  {
    margin: 10px 0;
    padding: 5px;
    display: block;
    background-color: darken($base-color, 15%);
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: #333;
    }
  }

  &__btn-label  {
    margin-left: 10px;
  }
}
